{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/html"  href="{% static 'css/styles.min.css' %}" rel="stylesheet">
    <title>Not found</title>
    <style>
        .error{
            display: flex;
            justify-content: center;
        }
        
    </style>
</head>
<body>
    <div class="error">
        <img src="{% static 'media/404.png' %}">
    </div>
    <h3 class="error">No podemos encontrar tu página :(</h3>

</body>
</html>